<section class="sec">
        <div class="item2">
            <h2>Nuestro  Menú</h2>
            <p>Contamos con distintos platillos exquisitos a comodos precios</p>
        </div>
        <div class="item2">
            <table class="default">
                <tr>
                    {{productos}}
                </tr>
            </table>
        </div>
        <div class="item2">
            <button>MENU</button>
        </div>
</section>