<section>
        <div class="cont1">
            <div class="item">
                <img src="images/img1.jpeg" class="img1">
            </div>
            <div class="item">
                <h3>Delicias</h3>
                <h2>Quienes somos...</h2>
                <p>La gastronomía que ofrecemos es una variedad de platillos internacionales, sin dejar de lado nuestra cocina ecuatoriana con un toque de creatividad y la armonía creada con la variedad de vinos de nuestra casa.</p>
                <button>Más información</button>
            </div>
        </div>
</section>