<section class="sec2">
        <div class="cont1">
            <div class="item">
                <h3>Delicias</h3>
                <h2>Contactos</h2>
                <h3><img src="images/icon1.png" class="icon">Dirección</h3>
                <h4>Calle Quito y Felix Miranda</h4>
                <h3><img src="images/icon2.png" class="icon">Correo</h3>
                <h4>ejemplo@gmail.com</h4>
                <h3><img src="images/icon3.png" class="icon">Teléfono</h3>
                <h4>0999999999</h4>
            </div>
            <div class="item">
                <img src="images/img5.jpeg">
            </div>
        </div>
    </section>